#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.active {
  font-weight: 700;
  filter: brightness(2);
}